<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>26668439140-2h8sh683j98qd8t5jkmbovb4chgnqoiu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26668439140-2h8sh683j98qd8t5jkmbovb4chgnqoiu</string>
	<key>API_KEY</key>
	<string>AIzaSyDoLzHfKs5_gObLHpeRIGh-t5dfHH_6fDk</string>
	<key>GCM_SENDER_ID</key>
	<string>26668439140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>clockwrkapp.ClockWrk</string>
	<key>PROJECT_ID</key>
	<string>clockwork-185e0</string>
	<key>STORAGE_BUCKET</key>
	<string>clockwork-185e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26668439140:ios:ab6027a0ac286708e0f171</string>
</dict>
</plist>